.items_section {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  border-radius: 10px;
}
.items-list_article {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 18rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
  background-color: tan;
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
}
.pokemon-item:hover {
  opacity: 0.7;
}
.pokemon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.Items-add-button {
  margin: 20px auto;
  max-width: 80px;
}
@media (max-width: 768px) {
  .items_section {
    width: 100%;
  }
}
